body {
  font-size: 1em;
  background-color: #d3d3d3;
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
  color: #454552;
  display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

header {
  flex: 1;
  margin-top: 0;
  border-bottom: 5px solid #e85a71;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e85a71;
}

aside {
  background-color: #454552;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

main a {
  color: #454552;
}

h3 {
  margin-right: 20px;
}

.icon {
  width: 25px;
  height: 25px;
  color: #e85a71;
  padding-right: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: text-top;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.name {
  font-size: 2.5em;
  padding: 15px;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
  background-color: #454552;
  color: white;
}

.sidebar {
  flex-direction: column;
}

.sidebar-links {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-links li {
  padding-top: 10px;
}

.main-container {
  margin-top: 0;
  background-color: white;
  flex: 1 1 auto;
}

.content-item {
  padding: 0 20px;
}

.content-heading {
  margin-top: 0;
  padding-top: 20px;
  display: inline-flex;
  border-bottom: 5px solid #e85a71;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media (min-width: 768px) {
  .name {
    font-size: 3em;
  }
  .sidebar {
    order: -1;
  }
  .container {
    display: flex;
		flex: 1 1 auto;
		flex-direction: row;
  }

  .main-container {
    flex-direction: row;
    flex: 1;
  }
}
